/*** IMPORT CSS FILES ***/

/*Animate CSS Library*/
@import url(animate.min.css);

/*Heading Aminate CSS Library*/
/*@import url(heading-animate.css);*/

/*RALEWAY FONTS*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

/* Source Sans Pro */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

/* Open Sans Font Family */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

/**** Lato ****/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);

/* FONT AWESOME ICONS */
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css); /** Font Awesome Icons CSS **/
/*@import url(css/font-awesome.min.css); /** Font Awesome Icons CSS **/



html {
    margin: 0;
    padding: 0;
}
body { 
    font-size: 13px;
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: 'Raleway', sans-serif;
    /*font-family: "Titillium Web", sans-serif;*/
    font-weight:100;
    color:#020202;
    margin:0 auto;
    background: #F1F1F1;
    /*max-width: 1360px;*/
    width: 100%;
    /*margin-top: 115px;*/
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fcfdfc;
}
body {
  color: #fff;
  /*text-align: center;*/
  /*text-shadow: 0 1px 3px rgba(0,0,0,.5);*/
}

img{
    /*border-radius: 2px;
    box-shadow:0px 0px 5px #E4E4E4;*/
}
p { 
    margin-top: 0; 
    text-align: margin-left;
    padding: 0; 
    margin-bottom: 12px; 
    /*font-family: "Raleway" !important; */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 13px; 
    line-height: 21px;
    /*color: #696E74; */
}

a, button { 
  padding: 0;
  margin: 0;
  text-decoration: none; 
  -webkit-transition: background-color .4s linear, color .4s linear;
  -moz-transition: background-color .4s linear, color .4s linear;
  -o-transition: background-color .4s linear, color .4s linear;
  -ms-transition: background-color .4s linear, color .4s linear;
  transition: background-color .4s linear, color .4s linear;
}
a:link { 
  text-decoration: none;
  color: #8998ab;
}
a:visited { 
  color: #0E5B07;
}
a:hover, a:focus, a:active { 
  color: #ed4e6e;
}
hr {
  border: 1px solid #C2BEBF;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  letter-spacing: -0.5px;
/*  font-family: 'Raleway', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;

  color: #ffffff;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
  text-decoration: none;
}
h1 {
  font-size: 44px;
  line-height: 60px;
}
h2 {
  font-size: 38px;
  line-height: 52.5px;
}
h3 {
  font-size: 32px;
  line-height: 45px;
}
h4 {
  font-size: 26px;
  line-height: 37.5px;
}
h5 {
  font-size: 20px;
  line-height: 30px;
}
h6 {
  font-size: 14px;
  line-height: 22.5px;
}
code {
  border-bottom: 1px solid #e3e3e3;
  background-color: #f0f0f0;
  color: #606362;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
pre {
  border-bottom: 1px solid #e3e3e3;
  background-color: #f0f0f0;
  color: #606362;
  font-size: 12px;
  padding: 10px;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
}
ul {
  list-style-position: inside;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

.main-container {
  /*background: #f7f7f7;*/
  padding-top: 10px;
    padding-bottom: 20px;
}

.container-70 {
  width: 70%;
  margin: 0px auto;
}

@media (max-width: 480px) {
  .container-70 {
    width: 100%;
    margin: 0px auto;
  }
}

/* Custom default button */

.btn, a.btn {
  margin-bottom: 10px;
  color: #ffffff;
}

.btn-default,
a.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #020202;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.navbar-default {
  background-color: #0E5B07;
  border-color: #E7E7E7;
  border-bottom-width: 5px;
}

.navbar-default .navbar-brand {
  display: block;
  background-color: #E7E7E7;
}

.navbar-brand > img {
  width: 200px;
  background-color: #E7E7E7;
  padding: 0px 10px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #5e5e5e;
  background-color: #E7E7E7;
}

.navbar-default .navbar-nav > li > a {
  color: #F2F2F2;
  font-weight: 600;
}

.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
  color: #020202;
  background-color: #E7E7E7;
}

.lead strong {
  color: #0E5B07;
}

.lead strong i {
  color: #fdfdfd;
}


.search-box {
  width: 60%;
  margin: 0px auto;
  float: left;
}


.search-box form {
  margin: 0px auto;
  overflow: hidden;
  border-radius: 5px;
/*  margin-top: 30px;*/
}

.search-box form input, .search-box form select, .search-box form button {
  padding: 10px 10px;
  border: none;
  background: #DCDCDC;
  color: #020202;
  outline: none;
  font-size: 15px;
  font-weight: 400;
}

 .search-box form select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.search-box form button {
  border-left: 1px solid #60759B;
  color: #fdfdfd;
}

 .search-box form select, .search-box form button {
  background-color: #6B86B8;
}

.search-box form button:hover {
  background-color: #ff7518;
  color: #ffffff;
  border: none;
}


/* Border Radius(es) */

.radius-5 {
    border-radius: 5px !important;
}

.radius-10 {
    border-radius: 10px !important;
}

.radius-12 {
    border-radius: 15px !important;
}

.radius-20 {
    border-radius: 20px !important;
}

.radius-50-per {
    border-radius: 50% !important;
}


/* Home Background */

.home-bg {
  background-image: url("../images/bg/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.home-lite {
/*   background-color: rgba(5, 20, 60, 0.51);*/
   min-height: 100%;;
}

header {
    padding: 40px 0px 20px;
    overflow: hidden;
    width: 100%;
}

header a.btn {
    font-weight: 600;
}

a.logo img {
/*    width: 100px;*/
}


.featured-apps {
    width: 100%;
    overflow: hidden
}

.featured-apps .slider-section {
    width: 630px;
    background: none;
    overflow: hidden;
}

.featured-apps .tile span {
    display: block;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
}


.tile {
    border: 5px solid transparent;
    border-radius: 5px;
    margin: 0 5px 10px 5px;
    opacity: 1;
}

.tile:hover {
    border: 5px solid rgba(241, 234, 234, 0.25);
    border-radius: 5px;
     box-shadow: 0 0 0px 0 #fff; 
    -moz-box-shadow: 0 0 0px 0 #fff;
    -webkit-box-shadow: 0 0 0px 0 #fff;
}

.tile.tile-white {
    background-color: #ffffff;
}

.tile.tile-white h1, .tile.tile-white h2, .tile.tile-white h3, .tile.tile-white h4, .tile.tile-white h5, .tile.tile-white h6 {
    color: #7392CB;
}

/* Register & Login Section */

.kudikonnect-signin {
  max-width: 480px;
  padding: 25px 20px 15px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 6px;
  text-align: center;
}

.kudikonnect-signin,
.kudikonnect-signin a,
.kudikonnect-signin h1,
.kudikonnect-signin h2,
.kudikonnect-signin h3,
.kudikonnect-signin h4,
.kudikonnect-signin h5,
.kudikonnect-signin h6 {
  color: #020202;
}

.forgot,
.form-signin-heading {
    color: #1089DC !important;
}

.kudikonnect-signin .form-signin-heading,
.kudikonnect-signin .checkbox {
  margin-bottom: 10px;
}
.kudikonnect-signin .checkbox {
  font-weight: normal;
}
.kudikonnect-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
}
.kudikonnect-signin .form-control:focus {
  z-index: 2;
}
.kudikonnect-signin input,
.kudikonnect-signin button {
    border-radius: 6px;
    font-weight: 500;
}

.kudikonnect-signin hr {
    margin: 13px 0px;
    border-width: 0.2px;
}

.kudikonnect-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.kudikonnect-signin input[type="password"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.kudikonnect-signin input[type="password"].confirm,
.kudikonnect-signin input.register,
.kudikonnect-signin input[type="password"].register {
    border-radius: 0px;
    margin: 0px;
}

.kudikonnect-signin input[type="password"].confirm {
  border-top: 0px;
  margin-bottom: 10px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.kudikonnect-signin button,
.btn-facebook,
.btn-twitter,
.btn-google-plus {
    border-radius: 25px;
    font-weight: 600;
    color: #ffffff !important;
}

.kudikonnect-signin.plain {
    background-color: #F2F2F2; 
    border: 2px solid #E9E9E9;
}

.btn-facebook {
  background-color: #314A87;
}

.btn-twitter {
  background-color: #1089DC;
}

.btn-google-plus {
  background-color: #D13E2F;
}

.forgot {
    font-weight: 600;
}

.have-account {
    display: block;
    margin: 15px 0px 0px;
}

.agreement {
    font-size: smaller;
}

.agreement a {
    font-weight: 500;
    color: #1089DC;
    text-decoration: underline;
}


/* END Register & Login Section */


/* Slider Section */

#container{
	max-width:620px;
	margin:0 auto;
	padding-bottom:80px;
}

#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#000;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}

.bjqs li.bjqs-slide,
.bjqs li img,
.bjqs li a img {
    height: 100% !important;
}
    

/* END Slider Section */


.width-100per {
  width: 100%;
}

.width-50per {
  width: 48%;
  margin-left: 7px;
  float: left;
}

.margtop100 {
  margin-top: 100px;
}

.margtop150 {
  margin-top: 150px;
}

.marg-left-10 {
    margin-left: 10px;
}

.margtop100b50 {
  margin-top: 100px;
  margin-bottom: 50px;
}

.height-auto {
  height: auto;
  min-height: 0px;
}

.absolute {
  position: absolute;
  width: 100%;
}



/* FOOTER SECTION */


.footer {
  text-align: left;
  overflow: hidden;
  width: 100%;
  padding: 10px 0px;
  background-color: rgba(2, 2, 2, 0.82);
}

.footer ul.footer-menu-list {
  padding: 0px;
  list-style: none;
  /*text-align: left;*/
  float: left;
}

.footer ul.footer-menu-list li a {
  display: block;
  padding: 0px 0px 5px;
  font-weight: 600;
  /*color: #fdfdfd*/
}

.footer ul.footer-menu-list li a:hover {
  color: #E47616;
}


.footer p {
  margin-bottom: 0px;
  margin-top: 10px;
}


.footer-sitename {
  font-weight: 600;
  color: #13A508 !important;
}

.footer-sitename:hover {
  color: #ffffff;
}

.footer.fixed {
    position: absolute;
    bottom: 0;
    width: 100%;
}


.footer-links, .social-icons {
	overflow: hidden;
}

.footer-links a {
	color: #3BB94D;
	font-weight: 500;
	margin-right: 10px;
}

.footer-links a:before {
	/*content: "\f061";*/
	content: "\f0a9";
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: 3px;
}

.footer-links a:hover {
	color: #020200;
}

.site-title {
	font-weight: 600;
	/*color: #FF8517;*/
	color: #FF8517 !important;
}

/*.social-icons {
	text-align: right;
	margin-top: 0px;
	margin-bottom: 0px;
}

.social-icons a {
	margin-right: 6px;
}

.social-icons a i {
	font-size: 15px;
	color: #ffffff;
	padding: 10px 11px;
	border-radius: 50%;
	background-color: #3BB94D;
}

.social-icons a:first-child i {
	padding: 10px 13px;
}

.social-icons a i:hover { 
	background-color: #01ff02;
	color: #020202;
}*/

/*
   SOCIAL ICONS HERE */

.social-icons {
  float: right;
  text-align: right;
  /*margin-top: 10px;*/
  margin-top: 0px;
}

.social-icons a {
  margin-right: 6px;
}

.social-icons a i {
  font-size: 15px;
  color: #ffffff;
  padding: 10px 11px;
  border-radius: 50%;
  background-color: #ff1721;
}

.social-icons a:first-child i {
  /* border-radius: 60%; */
  padding: 10px 13px;
}

.social-icons a i:hover {
  background-color: #020202;
}

.social-icons a.facebook i {
  background-color: #314A87;
}

.social-icons a.twitter i {
  background-color: #1089DC;
}

.social-icons a.google-plus i {
  background-color: #D13E2F;
}

.social-icons a.linkedin i {
  background-color: #1089DC;
}



.footer-bottom {
  overflow: hidden;
  padding: 10px 0px;
  background-color: #E47616;
}

.footer-bottom a {
  font-weight: 600;
  color: #020202;
}


/* FOOTER SECTION */


/* Responsive Modifications */

@media (max-width: 480px) {
  .margtop100-m {
    margin-top: 10px;
  }

  .margtop150-m {
    margin-top: 15px;
  }

  .margtop100-m {
    margin-top: 10px;
  }

  .details-box,
  .details-box h1 span,
  .details-box h2 span,
  .details-box h3 span,
  .details-box h4 span,
  .details-box h5 span,
  .details-box h6 span {
    width: 100%;
    display: block;
  }
    
  header a.logo {
    width: 100%;
    display: block;
    text-align: center;
  }
    
  header a.logo img {
      margin-bottom: 10px;
  }
    
  .search-box,
  header a.btn {
      text-align: center;
      width: 100%;
      display: block;
      overflow: hidden;
      margin: 0px auto;
      margin-bottom: 5px;
  }
    
  .home-bg {
      background: url("../images/bg/bg-1.jpg") repeat fixed left top / cover;
      height: auto;
  }
    
  .featured-apps .slider-section {
      width: 97% !important;
      height: 100% !important;
  }
    
  ul.bjqs-controls {
      display: none;
  }
    
  .footer.fixed {
      position: relative;
  }

}

